![alt text](https://lh3.googleusercontent.com/jS2nj0Ju7rvJJangnpFrnveoLlMAVc-Ee-k38WW3bRT1rpOooDKa8c3Uh2hZs5j6-XNc1ZFry07GtQTX8sYRpyZGgz8TZuBpGw75pAZqSKQRSfKA0Isy3I-222AHDlZa1WNAvFGmQLfeR4S96qK3agRN-br82Od1243W4uVZbFmbkZPykYy4_qDeE2UrbT1nVr8QZccLXjjtjiJRM8WQ_8eZFSRUBP1BMQg5AG6l7tdGXuWlQDmqFOFcDcEQE5ZX30N7TIcDSOiMWjp0gGZgtMfaR983h4NP8dUp-ej-Vo1D4FSpa_zTpjvKRrpbfnVir1LpIw0yC9OjD7aCMtLcul9Npe-voMkiJgz5XNvFatCgq5WmfcoaDDvkkEQZgp7LQoOqqprzvdItdiyWagMtCVQONtypoZhc2kQQkfav2M0sC9kG4AXDJ6nOlpi8iSbJSVVPKHN9wzGzN1gxo2dDtaua9VfHd5MTOWiRV6ArL6pzwzSzAPSAgUFZZhc4RHGzk5ChHsJBaO3gzvn8GF4Cr7P7GahgXEhw98u1Z0VlNqDmp37B4cUHm5dujBm7jQXGTvPqM5zuDHwiviFId6OMjcjW6xZNckM9_KM8opmUYN_RKP-YPs51qrz9NVksS73JOhHpBHtVQMDCFycT6ZSKv-zdwZN7_FW7=w2160-h856-no)

# Numpy란? 
<li>Numerical Python 과학적, 산업적 연산을 위한 파이썬 패키지</li>
<li>다차원 배열, 행렬 연산에 사용</li>

# Numpy 설치
<ol><li>아나콘다(Anaconda) 환경</li>
<ul><li>conda install numpy</li></ul>
<li>Colab/python 환경</li>
<ul><li>pip install numpy</li></ul></ol>

# Numpy 불러오기

In [2]:
import numpy as np

# Python의 list와 Numpy array의 차이점
<ol>
<li>속도가 빠르다</li>
<li>한 가지 형태의 데이터만 담을 수 있다</li>
<li>메모리를 적게 사용한다.</li>
</ol>

# Numpy는 언제 사용하는가?
<li>숫자로 된 데이터를 처리할 때</li>
<li>2차원 이상의 다차원 행렬을 계산 할 때</li>
<li>고차원의 Deep Learning 연산을 처리할 때</li>

# Scalar, Vector/Array, Matrics/DataFrame, n-dimention ?

## Scalar: 단일 값 (점, 1차원)

In [3]:
a = 10
print("Scalar: 값, 1차원", a)
print("Scalar: 값, 1차원", a.ndim)

Scalar: 값, 1차원 10

AttributeError: 'int' object has no attribute 'ndim'

## Vector/Array: 방향이 있는 숫자들의 모임, 배열, Scalar의 모임 (선, 1차원)

In [4]:
b = np.array((1,2,3,4), int)
print(b)
print(b.shape)
print("Scalar: 값, 1차원", b.ndim)

[1 2 3 4]
(4,)
Scalar: 값, 1차원 1

# Matrics/DataFrame: Vector, Array의 모임 (면, 2차원)

In [5]:
c = np.array(np.arange(1,7))
c = c.reshape([3,2])
print(c)
print(c.shape)

[[1 2]
 [3 4]
 [5 6]]
(3, 2)

# n-dimention 다차원(입체, 3차원 이상)

## 3차원 3D

In [6]:
d = np.array(np.arange(1,9))
d = d.reshape([2,2,2])
print(d)
print(d.shape)

[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]
(2, 2, 2)

![3D.jpg]()

## 4차원 4D

In [7]:
e = np.array(np.arange(1,17))
e = e.reshape([2,2,2,2])
print(e)
print(e.shape)

[[[[ 1  2]
   [ 3  4]]

  [[ 5  6]
   [ 7  8]]]


 [[[ 9 10]
   [11 12]]

  [[13 14]
   [15 16]]]]
(2, 2, 2, 2)

![4D.jpg]()

## 5차원 5D

In [8]:
f = np.array(np.arange(1,33))
f = f.reshape([2,2,2,2,2])
print(f)
print(f.shape)

[[[[[ 1  2]
    [ 3  4]]

   [[ 5  6]
    [ 7  8]]]


  [[[ 9 10]
    [11 12]]

   [[13 14]
    [15 16]]]]



 [[[[17 18]
    [19 20]]

   [[21 22]
    [23 24]]]


  [[[25 26]
    [27 28]]

   [[29 30]
    [31 32]]]]]
(2, 2, 2, 2, 2)

![5D.jpg]()

## 6차원 6D

In [9]:
g = np.array(np.arange(1,65))
g = g.reshape([2,2,2,2,2,2])
print(g)
print(g.shape)

[[[[[[ 1  2]
     [ 3  4]]

    [[ 5  6]
     [ 7  8]]]


   [[[ 9 10]
     [11 12]]

    [[13 14]
     [15 16]]]]



  [[[[17 18]
     [19 20]]

    [[21 22]
     [23 24]]]


   [[[25 26]
     [27 28]]

    [[29 30]
     [31 32]]]]]




 [[[[[33 34]
     [35 36]]

    [[37 38]
     [39 40]]]


   [[[41 42]
     [43 44]]

    [[45 46]
     [47 48]]]]



  [[[[49 50]
     [51 52]]

    [[53 54]
     [55 56]]]


   [[[57 58]
     [59 60]]

    [[61 62]
     [63 64]]]]]]
(2, 2, 2, 2, 2, 2)

![6d.jpg]()

# Numpy를 사용하는 이유: 행렬 연산이 쉽고 빠르다

## Scalar연산 Python vs Numpy

In [10]:
scalar = a + 1
scalar

11

## Vector연산 Python vs Numpy

In [11]:
b

array([1, 2, 3, 4])

In [12]:
# Python에서 반복문을 사용해 각각의 값에 1을 더하고 합침
vector_python = []
for i in b:
    temp = i + 1
    vector_python.append(temp)
vector_python

[2, 3, 4, 5]

In [13]:
vector_python2 = [i + 1 for i in b] 
vector_python2

[2, 3, 4, 5]

In [14]:
# numpy array에 1을 더함
vector_numpy = b + 1
vector_numpy

array([2, 3, 4, 5])

## Matrics/DataFrame연산 Python vs Numpy

### 2차원 행렬 연산

In [15]:
c

array([[1, 2],
       [3, 4],
       [5, 6]])

In [16]:
# Python에서 반복문을 사용해 각각의 값에 1을 더하고 합침
matrics_python = []
for i in c:
    col = []
    for j in i:
        temp = j + 1
        col.append(temp)
    matrics_python.append(col)
matrics_python

[[2, 3], [4, 5], [6, 7]]

In [17]:
c + 1

array([[2, 3],
       [4, 5],
       [6, 7]])

In [18]:
c.shape

(3, 2)

### 3차원 배열 연산

In [19]:
# Python에서 반복문을 사용해 각각의 값에 1을 더하고 합침
matrics_python = []
for i in d:
  col1 = []
  for j in i:
    col2 = []
    for k in j:
      temp = k + 1
      col2.append(temp)
    col1.append(col2)
  matrics_python.append(col1)
  
np.array(matrics_python)

array([[[2, 3],
        [4, 5]],

       [[6, 7],
        [8, 9]]])

In [20]:
d + 1

array([[[2, 3],
        [4, 5]],

       [[6, 7],
        [8, 9]]])

In [21]:
d.shape

(2, 2, 2)

### 4차원 배열 연산

In [22]:
e + 1

array([[[[ 2,  3],
         [ 4,  5]],

        [[ 6,  7],
         [ 8,  9]]],


       [[[10, 11],
         [12, 13]],

        [[14, 15],
         [16, 17]]]])

### 5차원 배열 연산

In [23]:
e.shape

(2, 2, 2, 2)

In [24]:
f + 1

array([[[[[ 2,  3],
          [ 4,  5]],

         [[ 6,  7],
          [ 8,  9]]],


        [[[10, 11],
          [12, 13]],

         [[14, 15],
          [16, 17]]]],



       [[[[18, 19],
          [20, 21]],

         [[22, 23],
          [24, 25]]],


        [[[26, 27],
          [28, 29]],

         [[30, 31],
          [32, 33]]]]])

In [25]:
f.shape

(2, 2, 2, 2, 2)

# Numpy 기본 사용법

## 1) ndarray의 차원, 형태, 크기, 데이터 타입 보기
* .ndim: 차원이 몇 개인지 확인
* .shpae: 몇 차원, 몇 행 몇 열로 되어 있는지 
* .size: 배열 안에 있는 요소의 총 갯수가 몇 개인지
* .dtyte: 데이터 타입은 무엇인지
* .itemsize: 1개 자료의 크기는 몇인지

In [26]:
a = np.arange(15)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [27]:
a.reshape(3, 5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [28]:
a.ndim

1

In [29]:
a = a.reshape(3,5)
a.ndim

2

In [30]:
a.shape

(3, 5)

In [31]:
a.size

15

In [32]:
a.dtype

dtype('int32')

In [33]:
a.itemsize

4

In [34]:
print(type(a))

<class 'numpy.ndarray'>

## 2) ndarray 만들기
* np.array(리스트 or 튜플)

### (1) 리스트로 ndarray만들기

In [35]:
a = np.array([2, 3, 4])
a

array([2, 3, 4])

In [36]:
a.dtype

dtype('int32')

### (2) 튜플로 ndarray 만들기

In [37]:
b = np.array((1.2, 3.5, 5.1))
b

array([1.2, 3.5, 5.1])

In [38]:
b.dtype

dtype('float64')

In [39]:
c = np.array(1, 2, 3, 4)  # array를 만들 때는 반드시 리스트나 튜플로 만들어야 한다.

TypeError: array() takes from 1 to 2 positional arguments but 4 were given

In [40]:
c = np.array([1, 2, 3, 4])
c

array([1, 2, 3, 4])

### (3) .zeros, .ones, .empty
* .zeros((행, 열)): 모든 값이 0으로 채워진 행렬을 만든다.
* .ones((행, 열)): 모든 값이 1로 채워진 행렬을 만든다.
* .empty((행, 렬)): 임의의 수로 채워진 행렬을 만든다.

In [41]:
# 3행 4열의 0으로 채워진 행렬을 만듬
np.zeros((3,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [42]:
# 3행 4열의 행렬을 2개 가진 값이 1로 채워진 3차원 행렬. 데이터타입은 int16
np.ones((2,3,4), dtype=np.int16)

array([[[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]],

       [[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]]], dtype=int16)

In [43]:
np.empty((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

### (4) 특정 숫자 범위의 1차원 배열을 만들때
* np.arange(시작, 끝-1, 증가량)

In [44]:
# 10~29까지 1씩 증가 
np.arange(10, 30, 1)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29])

In [45]:
# 10~29까지 5씩 증가 
np.arange(10, 30, 5)

array([10, 15, 20, 25])

In [46]:
# 0~1.9까지 0.1씩 증가
np.arange(0, 2, 0.1)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. , 1.1, 1.2,
       1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9])

In [47]:
# 0~1.9까지 0.1씩 증가
np.arange(0, 2, 0.3)

array([0. , 0.3, 0.6, 0.9, 1.2, 1.5, 1.8])

### (5)정해진 숫자 범위 않에서 균등하게 구간을 나눌 때
* np.linespace(시작, 끝, 구간갯수)

In [48]:
from numpy import pi
np.linspace(0, 2, 9)

array([0.  , 0.25, 0.5 , 0.75, 1.  , 1.25, 1.5 , 1.75, 2.  ])

### (6) 정방단위행렬 만들기 (n x n 형태)
* .identity()

In [175]:
np.identity(2)

array([[1., 0.],
       [0., 1.]])

In [176]:
np.identity(3, dtype=int)

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

In [177]:
np.identity(5, dtype=int)

array([[1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1]])

### (7) eye로 대각 행렬 만들기
* .eye(n, k="대각행렬 표시 열", dtype = 데이터형)

In [178]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [179]:
np.eye(5, k=1)

array([[0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0.]])

In [180]:
np.eye(5, k=2)

array([[0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [181]:
np.eye(5, k=-1)

array([[0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.]])

In [182]:
np.eye(5, k=-2)

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.]])

### (8) ndarray print하기

In [49]:
# 1차원 배열로 프린트
a = np.arange(6)
print(a)

[0 1 2 3 4 5]

In [50]:
# 2차원 배열로 프린트
b = np.arange(12).reshape(4, 3)
print(b)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

In [51]:
# 3차원 배열로 프린트 3행 4열 행열이 2개
c = np.arange(24).reshape(2, 3, 4)
print(c)

[[[ 0  1  2  3]
  [ 4  5  6  7]
  [ 8  9 10 11]]

 [[12 13 14 15]
  [16 17 18 19]
  [20 21 22 23]]]

In [52]:
# 4차원 배열로 프린트 3행 4열 행열이 2개인 배열이 2개 
d = np.arange(48).reshape(2, 2, 3, 4)
print(d)

[[[[ 0  1  2  3]
   [ 4  5  6  7]
   [ 8  9 10 11]]

  [[12 13 14 15]
   [16 17 18 19]
   [20 21 22 23]]]


 [[[24 25 26 27]
   [28 29 30 31]
   [32 33 34 35]]

  [[36 37 38 39]
   [40 41 42 43]
   [44 45 46 47]]]]

### (9) 배열이 너무 커서 프린트하기 어려울 때는 중간을 생략하고 처음과 끝 일부만 보여줌

In [53]:

print(np.arange(10000))

[   0    1    2 ... 9997 9998 9999]

In [54]:
print(np.arange(10000).reshape(100, 100))

[[   0    1    2 ...   97   98   99]
 [ 100  101  102 ...  197  198  199]
 [ 200  201  202 ...  297  298  299]
 ...
 [9700 9701 9702 ... 9797 9798 9799]
 [9800 9801 9802 ... 9897 9898 9899]
 [9900 9901 9902 ... 9997 9998 9999]]

### (10) 생략없이 모두 보고 싶을 때
* import sys
* np.set_printoptions(threshold = sys.maxsize)

In [55]:
import sys
np.set_printoptions(threshold = sys.maxsize)

In [56]:
# print(np.arange(10000).reshape(100, 100))

# 3) 요소 추가, 삭제, 정렬하기
* np.sort(), np.concatenate()

### (1) 요소 정렬하기 np.sort()

In [57]:
arr = np.array([2, 1, 5, 6, 7, 4, 6, 8])
arr

array([2, 1, 5, 6, 7, 4, 6, 8])

In [58]:
np.sort(arr)

array([1, 2, 4, 5, 6, 6, 7, 8])

In [59]:
# 변수에 재할당 하지 않으면 값이 변하지 않음
arr

array([2, 1, 5, 6, 7, 4, 6, 8])

### (2) 배열 합치기 np.concatenate()

In [60]:
a = np.array([[1, 2], [3, 4]])
b = np.array([[5, 6], [7, 8]])

In [61]:
np.concatenate((a, b), axis = 1)

array([[1, 2, 5, 6],
       [3, 4, 7, 8]])

### (3) 배열의 shape이 다를 때 (행과 열의 갯수가 다를 때)
* axis 0 = 행, 1 = 열
* 열 갯수가 일치해야 함

In [62]:
x = np.array([[1, 2], [3, 4]])
y = np.array([[5, 6]])

In [63]:
# axis를 지정해주어야 함 0 = 행 방향(아래로), 1 = 열 방향(옆으로)
np.concatenate((x, y), axis=0)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [64]:
np.concatenate((x, y), axis=1)

ValueError: all the input array dimensions for the concatenation axis must match exactly, but along dimension 0, the array at index 0 has size 2 and the array at index 1 has size 1

In [65]:
x.shape

(2, 2)

In [66]:
y.shape

(1, 2)

* axis = 0</br>
 x</br>
[1, 2]</br>
[3, 4]</br>
y</br>
[5, 6]</br></br>
* axis = 1</br>
 x &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; y </br>
[1, 2] &nbsp; &nbsp; &nbsp;     [5, 6]</br>
[3, 4] &nbsp; &nbsp; &nbsp; &nbsp; ?   </br>

* .T (전치행렬)로 행과 열을 바꿔 수를 맞추면 통합 가능

In [67]:
np.concatenate((x, y.T), axis=1)

array([[1, 2, 5],
       [3, 4, 6]])

## 4) 행렬 모양 바꾸기, reshape()

In [68]:
a = np.arange(6)
a

array([0, 1, 2, 3, 4, 5])

In [69]:
b = a.reshape(3, 2)
b

array([[0, 1],
       [2, 3],
       [4, 5]])

* 인덱싱 방법에 따른 reshape
* order = 'C' 는 C언어의 인덱싱 방법을 따른 행 우선 
* order = 'F' 는 Fortran언어의 인덱싱 방법을 따른 열 우선

In [70]:
# C 언어 방식 (행 우선 = 기본 값)
np.reshape(b, newshape=(1, 6), order='C')

array([[0, 1, 2, 3, 4, 5]])

In [71]:
# Fortran 언어 방식 (열 우선)
np.reshape(b, newshape=(1, 6), order='F')

array([[0, 2, 4, 1, 3, 5]])

## 5) 1차원 배열에 차원 추가해 2차원 배열로 만들기
* np.newaxis, np.expand_dims

### (1) np.newaxis로 행, 열 축 추가하기

In [72]:
a = np.array([1,2,3,4,5,6])
a.shape

(6,)

In [73]:
a

array([1, 2, 3, 4, 5, 6])

In [74]:
a2 = a[np.newaxis, :]
a2.shape

(1, 6)

In [75]:
a2

array([[1, 2, 3, 4, 5, 6]])

In [76]:
row_vector = a[np.newaxis, :]
row_vector.shape

(1, 6)

In [77]:
row_vector

array([[1, 2, 3, 4, 5, 6]])

In [78]:
col_vector = a[:, np.newaxis]
col_vector.shape

(6, 1)

In [79]:
col_vector

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6]])

In [80]:
a = np.array([1, 2, 3, 4, 5, 6])
a.shape

(6,)

### (2) np.expand_dims로 행, 열 축 추가하기

In [81]:
b = np.expand_dims(a, axis=1)
b.shape

(6, 1)

In [82]:
c = np.expand_dims(a, axis=0)
c.shape

(1, 6)

## 6) indexing(번호로 값 가져오기), slicing(일부만 잘라오기)

In [83]:
data = np.array([1, 2, 3])

In [84]:
data[1]

2

In [85]:
data[0:2]

array([1, 2])

In [86]:
data[1:]

array([2, 3])

In [87]:
data[-2:]

array([2, 3])

![image1](https://numpy.org/doc/stable/_images/np_indexing.png)

## 슬라이싱

파이썬 리스트와 유사하게, Numpy 배열도 슬라이싱이 가능합니다.

Numpy 배열은 다차원인 경우가 많기에, 각 차원별로 어떻게 슬라이스할건지 명확히 해야 합니다:

Numpy 배열을 슬라이싱하면, 연속된 값을 가져오기에 결과로 얻어지는 배열은 언제나 원본 배열의 부분 배열입니다.

In [139]:
import numpy as np

# shape가 (3, 4)인 2차원 배열 생성
# [[ 1  2  3  4]
#  [ 5  6  7  8]
#  [ 9 10 11 12]]
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

다차원배열은 아래와 같은 방법으로 슬라이싱 합니다.

`a[ : , : ]`


`a[행 슬라이싱 시작:행 슬라이싱 끝, 열 슬라이싱 시작:열 슬라이싱 끝]`


**시작값**부터 **끝값** <font color="red">전</font>까지 슬라이싱 됩니다

In [140]:
a[0:2, 0:4]

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

0행부터 2행 전까지(= 1행 까지), 0열부터 4열 전까지(= 3열 까지) 슬라이스되었습니다.

시작값이 0인 경우 생략 가능하며 끝 값이 shape의 값과 동일한 경우 생략 가능합니다.

`a[0:2, 0:4]`은 `a[:2, :]`로 표시할 수 있습니다.

In [ ]:
a[:2, :]

위 코드는 열을 슬라이싱 하지 않는 코드이며 이런 경우 열 부분은 전체 생략 가능합니다.

(행을 슬라이싱 하지 않는다고 하더라도, 행부분을 생략할 순 없습니다.)

In [141]:
a[:2]

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

**슬라이싱에 익숙해지기 전까진 생략하지말고 명시적으로 코드를 작성해주는것이 실수를 방지하는 방법입니다.**

## 인덱싱

인덱싱을 통해 원소에 접근할 수 있습니다.

두 가지 표현법이 있습니다.

In [143]:
# 선호하는 방식
a[0, 0]

1

In [144]:
a[0][0]

1

Numpy 배열을 슬라이싱하면, 연속된 값을 가져오기에 결과로 얻어지는 배열은 언제나 원본 배열의 부분 배열입니다.

그러나 인덱싱을 한다면, 연속하지 않은 값을 가져올 수 있으니 원본과 다른 배열을 만들 수 있습니다.

In [145]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [146]:
# 0행, 2행만 인덱싱
a[[0, 2], ]

array([[ 1,  2,  3,  4],
       [ 9, 10, 11, 12]])

In [147]:
# 0열, 1열, 3열만 인덱싱
a[:, [0,1,3]]

array([[ 1,  2,  4],
       [ 5,  6,  8],
       [ 9, 10, 12]])

## 인덱싱&슬라이싱 - 차원

* 정수 인덱싱과 슬라이싱을 혼합해서 사용하면 낮은 차원의 배열이 생성되지만,
* 슬라이싱만 사용하면 원본 배열과 동일한 차원의 배열이 생성됩니다.
* 0번째 행을 인덱싱하는 경우와 슬라이싱 하는 경우를 비교해보겠습니다.

In [148]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [149]:
a.shape

(3, 4)

In [150]:
a.ndim

2

In [154]:
# 슬라이싱만 사용
slicedRow = a[0:1, :]
slicedRow

array([[1, 2, 3, 4]])

In [152]:
slicedRow.shape

(1, 4)

In [153]:
slicedRow.ndim

2

In [155]:
# 아래와 동일한 코드
# 인덱싱&슬라이싱 혼합 사용
indexedRow = a[0]
indexedRow

array([1, 2, 3, 4])

In [156]:
indexedRow.shape

(4,)

In [157]:
indexedRow.ndim

1

In [158]:
# 위와 동일한 코드
# 인덱싱&슬라이싱 혼합 사용
indexedRow2 = a[0, :]
indexedRow2

array([1, 2, 3, 4])

In [159]:
indexedRow2.shape

(4,)

In [160]:
indexedRow2.ndim

1

행이 아닌 열의 경우에도 마찬가지 입니다.

In [161]:
# 슬라이싱만 사용
slicedCol = a[:, 0:1]
slicedCol

array([[1],
       [5],
       [9]])

In [162]:
slicedCol.shape

(3, 1)

In [163]:
slicedCol.ndim

2

In [164]:
# 인덱싱&슬라이싱 혼합 사용
indexedCol = a[:, 0]
indexedCol

array([1, 5, 9])

In [165]:
indexedCol.shape

(3,)

In [166]:
indexedCol.ndim

1

다차원배열간 연산에서 차원이 달라 문제가 발생하는 경우가 종종 있습니다.

**특별히 인덱싱을 써야 하는 상황이 아니라면, 인덱싱보다 슬라이싱을 추천합니다.**

## 인덱싱&슬라이싱 - 값 복사&참조

인덱싱은 값을 복사해옵니다. 복사된 값을 변경해도 원본의 값은 변하지 않습니다.

In [168]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [169]:
# 인덱싱해서 b에 대입
b = a[0, 0]

# b값 수정
b = 100

print("a[0, 0]: {}".format(a[0, 0]))
print("b: {}".format(b))

a[0, 0]: 1
b: 100

In [172]:
a

array([[  1,   2,   3,   4],
       [  5, 100,   7,   8],
       [  9,  10,  11,  12]])

슬라이싱된 배열은 원본 배열과 같은 데이터를 참조합니다.

<font color="red">즉 슬라이싱된 배열을 수정하면 원본 배열 역시 수정됩니다.</font>

In [173]:
# a를 슬라이스하여 c 생성
c = a[0:3, 0:3]

print(c)

[[  1   2   3]
 [  5 100   7]
 [  9  10  11]]

In [174]:
# c[0, 0]은 a[1, 1]과 같은 데이터입니다.
c[0, 0] = 100

print(c)
print('------------------')
print(a)

[[100   2   3]
 [  5 100   7]
 [  9  10  11]]
------------------
[[100   2   3   4]
 [  5 100   7   8]
 [  9  10  11  12]]

## 7) 비교 연산자를 사용해 조건에 맞는 값만 가져오기

In [88]:
a = np.array([[1 , 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

In [89]:
# 5보다 작은 수만
print(a[a < 5])

[1 2 3 4]

In [90]:
# 5보다 큰 수만
five_up = (a >= 5)
print(a[five_up])

[ 5  6  7  8  9 10 11 12]

In [91]:
# a를 2로 나눈 나머지가 0인 경우만 (짝수)  
divisible_by_2 = a[a%2==0]
print(divisible_by_2)

[ 2  4  6  8 10 12]

## 8) 비교연산 및 논리 연산 조합으로 원하는 자료 가져오기

In [92]:

c = a[(a > 2) & (a < 11)]
print(c)

[ 3  4  5  6  7  8  9 10]

In [93]:
five_up = (a > 5) | (a == 5)
print(five_up)

[[False False False False]
 [ True  True  True  True]
 [ True  True  True  True]]

## 9) 이미 존재하는 데이터로 array만드는 법
* slicing
* indexing
* np.vstack()
* np.hstack()
* np.hsplit()
* np.view()
* np.copy()

In [94]:
a = np.array([1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [95]:
# slicing
arr1 = a[3:8]
arr1

array([4, 5, 6, 7, 8])

* vstack : 행 방향으로 2개의 배열 합치기

In [96]:
a1 = np.array([[1, 1],
               [2, 2]])

a2 = np.array([[3, 3],
               [4, 4]])

In [97]:
np.vstack((a1, a2))

array([[1, 1],
       [2, 2],
       [3, 3],
       [4, 4]])

* hstack: 열 방향으로 2개의 배열 합치기

In [98]:
np.hstack((a1, a2))

array([[1, 1, 3, 3],
       [2, 2, 4, 4]])

* hsplit: 지정한 크기의 행렬로 분할

In [99]:
x = np.arange(1, 25).reshape(2, 12)
x

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]])

In [100]:
np.hsplit(x, 3)

[array([[ 1,  2,  3,  4],
        [13, 14, 15, 16]]),
 array([[ 5,  6,  7,  8],
        [17, 18, 19, 20]]),
 array([[ 9, 10, 11, 12],
        [21, 22, 23, 24]])]

In [101]:
np.hsplit(x, (3, 4))

[array([[ 1,  2,  3],
        [13, 14, 15]]),
 array([[ 4],
        [16]]),
 array([[ 5,  6,  7,  8,  9, 10, 11, 12],
        [17, 18, 19, 20, 21, 22, 23, 24]])]

* np.view(), np.copy()

In [102]:
a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

In [103]:
b1 = a[0, : ]
b1

array([1, 2, 3, 4])

In [104]:
b1[0] = 99
b1

array([99,  2,  3,  4])

In [105]:
# a에서 인덱스 슬라이싱으로 일부를 가져와 b1에 넣고 0번째 값을 바꿈
# 그리고 a를 출력해보면 바꾼적이 없는 a의 0번째 자료가 b1의 0번째에서 바꾼 값으로 바뀌어 있음
# a에서 인덱스 슬라이싱으로 자료를 가져오는 경우 메모리 상에 있는 실제 데이터를 공유하기 때문에 값이 변함
a

array([[99,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [106]:
a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

In [107]:
b1 = a[0, : ].view()
b1

array([1, 2, 3, 4])

In [108]:
b1[0] = 99
b1

array([99,  2,  3,  4])

In [109]:
a

array([[99,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

* .copy()를 쓰면 실제 데이터가 따로 저장되기 때문에 값의 변화가 없음

In [110]:
a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

In [111]:
b1 = a[0, : ].copy()
b1

array([1, 2, 3, 4])

In [112]:
b1[0] = 99
b1

array([99,  2,  3,  4])

In [113]:
# a 0번째의 값에 변화가 없음
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

## 10) Numpy array를 사용한 행렬 연산

기본적인 수학함수는 배열의 각 요소별로 동작하며 연산자를 통해 동작하거나 numpy 함수모듈을 통해 동작합니다.

다차원 배열간 연산시, **shape가 맞아야** 연산이 이루어집니다.
- 요소별 합, 차, 곱, 나눗셈의 경우 shape가 일치해야 합니다.
- dot의 경우 앞 배열의 열과 뒤 배열의 행의 크기가 일치해야 합니다

In [223]:
data = np.array([1, 2])
data

In [224]:
x.shape

(2, 2)

In [225]:
y.shape

(2, 2)

In [226]:
ones = np.ones(2, dtype=int)
ones

array([1, 1])

### (1) 행렬 사칙연산

In [233]:
data + ones

array([[ 6.,  8.],
       [10., 12.]])

![image](https://numpy.org/doc/stable/_images/np_data_plus_ones.png)

In [232]:
data - ones

array([[-4., -4.],
       [-4., -4.]])

In [230]:
data * data

array([[ 5., 12.],
       [21., 32.]])

In [231]:
data / data

array([[0.2       , 0.33333333],
       [0.42857143, 0.5       ]])

![image3](https://numpy.org/doc/stable/_images/np_sub_mult_divide.png)

### (2) 행렬연산 함수

In [235]:
x = np.array([[1., 2.], [3., 4.]])
y = np.array([[5., 6.], [7., 8.]])

* sum()

In [236]:
# sum()
sum(x, y)

array([[ 9., 12.],
       [11., 14.]])

In [237]:
b = np.array([[1, 1], [2, 2]])
b

array([[1, 1],
       [2, 2]])

In [238]:
# 행끼리 더함
b.sum(axis=0)

array([3, 3])

In [239]:
# 열끼리 더함
b.sum(axis=1)

array([2, 4])

In [240]:
# 모든 값을 더함
b.sum()

6

* np.add()

In [251]:
# 더하기
np.add(x, y)

array([[ 6.,  8.],
       [10., 12.]])

* np.subtract()

In [244]:
# 빼기
np.subtract(x, y)

array([[-4., -4.],
       [-4., -4.]])

* multiply()

In [245]:
# 곱하기
np.multiply(x, y)

array([[ 5., 12.],
       [21., 32.]])

* divide()

In [247]:
# 나누기
np.divide(x, y)

array([[0.2       , 0.33333333],
       [0.42857143, 0.5       ]])

* np.sqrt() - 요소별 제곱근

In [252]:
np.sqrt(x)

array([[1.        , 1.41421356],
       [1.73205081, 2.        ]])

* max()

In [208]:
a.max()

9

* min()

In [209]:
a.min()

1

* mean()

In [210]:
a.mean()

5.0

* prod() 행렬 요소의 곱

In [214]:
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [211]:
a.prod()

362880

In [212]:
a.prod(axis = 0)

array([ 28,  80, 162])

In [213]:
a.prod(axis = 1)

array([  6, 120, 504])

* std 표준편차

In [205]:
data.std()

1.707825127659933

* var 분산 - 표본 분산이고 결측값이 있어도 결측값이 아닌 값들만 계산해 결과를 보여준다.
* 통계학에서 일반적으로 사용하는 불편분산 사용시에는 ddof=1을 옵션으로 주어야 한다

In [206]:
#표본 분산
data.var()

2.9166666666666665

In [207]:
data.var(ddof=1)

3.5

* cov() 공분산

In [193]:
np.cov(data)

array(3.5)

![image6](https://numpy.org/doc/stable/_images/np_aggregation.png)

In [145]:
a = np.array([[0.45053314, 0.17296777, 0.34376245, 0.5510652],
              [0.54627315, 0.05093587, 0.40067661, 0.55645993],
              [0.12697628, 0.82485143, 0.26590556, 0.56917101]])

In [146]:
a.sum()

4.8595784

In [147]:
a.min()

0.05093587

In [148]:
a.min(axis=0)

array([0.12697628, 0.05093587, 0.26590556, 0.5510652 ])

Numpy에선 벡터의 내적, 벡터와 행렬의 곱, 행렬곱을 위해 `*`대신 `dot`함수를 사용합니다.

`dot`은 Numpy 모듈 함수로서도 배열 객체의 메소드로서도 이용 가능한 합수입니다

In [255]:
import numpy as np

x = np.array([[1,2],[3,4]])
y = np.array([[5,6],[7,8]])

v = np.array([9,10])
w = np.array([11, 12])

# 벡터의 내적; 둘 다 결과는 219
print(v.dot(w))
print(np.dot(v, w))

219
219

In [256]:
# 행렬과 벡터의 곱; 둘 다 결과는 dimension 1인 배열 [29 67]
print(x.dot(v))
print(np.dot(x, v))

[29 67]
[29 67]

In [257]:
# 행렬곱; 둘 다 결과는 dimension 2인 배열
# [[19 22]
#  [43 50]]
print(x.dot(y))
print(np.dot(x, y))

[[19 22]
 [43 50]]
[[19 22]
 [43 50]]

## 11) 브로드케스팅(Brodcasting)
* 백터와 스칼라 또는 메트릭스와 벡터를 연산할 때 자동으로 행렬 크기를 맞춰주는 것

In [136]:
data = np.array([1.0, 2.0])
data

array([1., 2.])

In [137]:
data * 1.6

array([1.6, 3.2])

![image4](https://numpy.org/doc/stable/_images/np_multiply_broadcasting.png)

## 12) 2-D array / matrics 2차원 배열 / 매트릭스 만들기

In [149]:
data = np.array([[1, 2], [3, 4], [5, 6]])
data

array([[1, 2],
       [3, 4],
       [5, 6]])

![image5](https://numpy.org/doc/stable/_images/np_create_matrix.png)

* 인덱싱 슬라이싱

In [152]:
# 0번째행, 1번째 열의 자료 인덱싱
data[0, 1]

2

In [153]:
# 1행~2행 슬라이싱
data[1:3]

array([[3, 4],
       [5, 6]])

In [154]:
# 0~2행의 0번째 열 
data[0:2, 0]

array([1, 3])

* 행렬 전체에 대한 max, min, sum

In [155]:
data.max()

6

In [156]:
data.min()

1

In [157]:
data.sum()

21

![image6](https://numpy.org/doc/stable/_images/np_matrix_aggregation.png)

* 축 방향에 따른 max, min, sum 함수 연산 결과

In [159]:
data = np.array([[1, 2], [5, 3], [4, 6]])
data

array([[1, 2],
       [5, 3],
       [4, 6]])

In [160]:
data.max(axis=0)

array([5, 6])

In [162]:
data.max(axis=1)

array([2, 5, 6])

In [164]:
data.min(axis=0)

array([1, 2])

In [165]:
data.min(axis=1)

array([1, 3, 4])

In [166]:
data.sum(axis=0)

array([10, 11])

In [167]:
data.sum(axis=1)

array([ 3,  8, 10])

![image6](https://numpy.org/doc/stable/_images/np_matrix_aggregation_row.png)

* metrix와 metrix 연산 (사이즈가 같은 경우)

In [4]:
data = np.array([[1, 2], [3, 4]])
data

array([[1, 2],
       [3, 4]])

In [6]:
ones = np.array([[1, 1], [1, 1]])
ones

array([[1, 1],
       [1, 1]])

In [7]:
data + ones

array([[2, 3],
       [4, 5]])

![image7](https://numpy.org/doc/stable/_images/np_matrix_arithmetic.png)

* matrix와 matrix 연산 (사이즈가 다른 경우)
* 크기가 작은 matrix가 브로드캐스팅 되어 연산됨

In [12]:
data = np.array([[1, 2], [3, 4], [5, 6]])
data

array([[1, 2],
       [3, 4],
       [5, 6]])

In [13]:
ones_row = np.array([[1, 1]])
ones_row

array([[1, 1]])

In [11]:
data + ones_row

array([[2, 3],
       [4, 5],
       [6, 7]])

In [15]:
ones_row2 = np.array([[1, 1, 1]])
ones_row2

array([[1, 1, 1]])

In [19]:
data + ones_row2

ValueError: operands could not be broadcast together with shapes (3,2) (1,3)

In [18]:
ones_row2.T

array([[1],
       [1],
       [1]])

In [17]:
data + ones_row2.T

array([[2, 3],
       [4, 5],
       [6, 7]])

![image8](https://numpy.org/doc/stable/_images/np_matrix_broadcasting.png)

In [14]:
np.ones((4, 3, 2))

array([[[1., 1.],
        [1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.],
        [1., 1.]]])

## 13) random 행렬 만들기

In [24]:
# rng에 넘파이 랜덤 함수 넣기
rng = np.random.default_rng()

In [26]:
# 랜덤 벡터 만들기
rng.random(3)

array([0.19563946, 0.59240891, 0.18579804])

In [28]:
# 랜덤 매트릭스 만들기
rng.random((3, 2))

array([[0.65735478, 0.47146792],
       [0.97086736, 0.84513199],
       [0.9017169 , 0.13335327]])

In [29]:
# 정수형 랜덤 매트릭스 만들기
rng.integers(5, size=(2, 4))

array([[3, 2, 2, 0],
       [2, 2, 1, 4]], dtype=int64)

## 14) 행렬에서 유일값을 찾고 갯수를 세고 싶을 때
* np.unique()

### (1) 벡터에서 유일값 찾고 갯수 세기

In [31]:
a = np.array([11, 11, 12, 13, 14, 15, 16, 17, 12, 13, 11, 14, 18, 19, 20])

unique_values = np.unique(a)
print(unique_values)

* return_index = True로 유일값의 인덱스 보기

In [33]:
unique_values, indices_list = np.unique(a, return_index=True)
print(indices_list)

[ 0  2  3  4  5  6  7 12 13 14]

In [35]:
unique_values, occurrence_count = np.unique(a, return_counts=True)
print(unique_values, occurrence_count, sep="\n")

[11 12 13 14 15 16 17 18 19 20]
[3 2 2 2 1 1 1 1 1 1]

### (2) 매트릭스에서 유일값 찾고 갯수 세기

In [54]:
a_2d = np.array([[1, 2, 3, 2], [5, 2, 7, 2], [9, 2, 11, 2], [1, 2, 3, 2], [1, 2, 3, 2]])
a_2d

array([[ 1,  2,  3,  2],
       [ 5,  2,  7,  2],
       [ 9,  2, 11,  2],
       [ 1,  2,  3,  2],
       [ 1,  2,  3,  2]])

In [55]:
unique_values = np.unique(a_2d)
unique_values

array([ 1,  2,  3,  5,  7,  9, 11])

* 유일 값으로 구성된 행 찾기

In [56]:
unique_rows = np.unique(a_2d, axis=0)
unique_rows

array([[ 1,  2,  3,  2],
       [ 5,  2,  7,  2],
       [ 9,  2, 11,  2]])

* 유일값으로 구성된 열 찾기

In [51]:
a_2d2 = 
a_2d2

array([[ 1,  2,  3,  2],
       [ 5,  2,  7,  2],
       [ 9,  2, 11,  2],
       [ 1,  2,  3,  2],
       [ 1,  2,  3,  2]])

In [57]:
unique_cols = np.unique(a_2d2, axis=1)
unique_cols

array([[ 1,  2,  3],
       [ 5,  2,  7],
       [ 9,  2, 11],
       [ 1,  2,  3],
       [ 1,  2,  3]])

In [58]:
unique_rows = np.unique(a_2d2, axis=0)
unique_rows

array([[ 1,  2,  3,  2],
       [ 5,  2,  7,  2],
       [ 9,  2, 11,  2]])

## 15) Transposing(행렬 뒤집기), reshaping(구조 바꾸기)

### (1) 전치행렬을 만들기 위해서 행렬을 뒤집어야 할 때

* .reshape를 사용한 전치행렬 만들기

In [64]:
data = np.array([1,2,3,4,5,6])
data

array([1, 2, 3, 4, 5, 6])

In [65]:
data.reshape(2,3)

array([[1, 2, 3],
       [4, 5, 6]])

In [67]:
data.reshape(3, 2)

array([[1, 2],
       [3, 4],
       [5, 6]])

![image10](https://numpy.org/doc/stable/_images/np_reshape.png)

* transpose() 함수를 사용해 전치행렬 만들기

In [68]:
arr = np.arange(6).reshape((2, 3))
arr

array([[0, 1, 2],
       [3, 4, 5]])

In [69]:
arr.transpose()

array([[0, 3],
       [1, 4],
       [2, 5]])

In [70]:
arr.T

array([[0, 3],
       [1, 4],
       [2, 5]])

### (2)  행렬의 앞 ->뒤, 뒤 -> 앞으로 순서를 바꿀 때
* np.flip()

In [73]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])
arr

array([1, 2, 3, 4, 5, 6, 7, 8])

In [74]:
reversed_arr = np.flip(arr)
reversed_arr

array([8, 7, 6, 5, 4, 3, 2, 1])

* 2차원 행렬을 역전 시킬 때

In [85]:
arr_2d = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
arr_2d

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [86]:
reversed_arr = np.flip(arr_2d)
reversed_arr

array([[12, 11, 10,  9],
       [ 8,  7,  6,  5],
       [ 4,  3,  2,  1]])

* 행의 순서만 역전시킬 때 np.flip(행렬, axis=0)

In [87]:
reversed_arr_rows = np.flip(arr_2d, axis=0)
reversed_arr_rows

array([[ 9, 10, 11, 12],
       [ 5,  6,  7,  8],
       [ 1,  2,  3,  4]])

* 열의 순서만 역전시킬 때 np.flip(행렬, axis=1)

In [88]:
reversed_arr_cols = np.flip(arr_2d, axis=1)
reversed_arr_cols

array([[ 4,  3,  2,  1],
       [ 8,  7,  6,  5],
       [12, 11, 10,  9]])

* 인덱싱을 사용하여 특정 행만 역전 시킬 수 있다.

In [92]:
arr_2d

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [93]:
# arr_2d의 인덱스 1번 행의 벡터만 역전
arr_2d[1] = np.flip(arr_2d[1])
arr_2d

array([[ 1,  2,  3,  4],
       [ 8,  7,  6,  5],
       [ 9, 10, 11, 12]])

In [94]:
# arr_2d의 1번째 컬럼의 데이터만 역전
arr_2d[:,1] = np.flip(arr_2d[:,1])
arr_2d

array([[ 1, 10,  3,  4],
       [ 8,  7,  6,  5],
       [ 9,  2, 11, 12]])

## 16) 다차원 배열의 구조 변경 및 평탄화
* .flatten(), ravel()

In [96]:
x = np.array([[1 , 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
x

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [99]:
x.shape

(3, 4)

* .flatten() 으로 다차원 배열을 1차원 벡터로 만들기

In [97]:
x.flatten()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [116]:
x = np.array([[[1 , 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]], [[1 , 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]])
x

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]],

       [[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]]])

In [117]:
x.shape

(2, 3, 4)

In [118]:
x.flatten()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12,  1,  2,  3,  4,  5,
        6,  7,  8,  9, 10, 11, 12])

In [119]:
x

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]],

       [[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]]])

* .flatten()을 사용해 벡터로 변환된 데이터는 원본 행렬에 영향을 미치지 않는다.

In [120]:
x

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]],

       [[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]]])

In [121]:
a1 = x.flatten()
a1[0] = 99
a1

array([99,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12,  1,  2,  3,  4,  5,
        6,  7,  8,  9, 10, 11, 12])

In [123]:
# x의 값은 변함이 없음
x

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]],

       [[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]]])

* reshape으로 1차원 벡터로 만든 후 a2에 저장 후 0번째 값을 바꾸면
* 원본인 x의 값도 변한다.

In [124]:
x.reshape(24,)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12,  1,  2,  3,  4,  5,
        6,  7,  8,  9, 10, 11, 12])

In [126]:
a2 = x.reshape(24,)
a2[0] = 99
a2

array([99,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12,  1,  2,  3,  4,  5,
        6,  7,  8,  9, 10, 11, 12])

In [127]:
x

array([[[99,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]],

       [[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]]])

* .flatten()과 같은 역할을 하는 ravel()의 경우에도 원본 x의 값이 변함

In [128]:
x = np.array([[[1 , 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]], [[1 , 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]])
x

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]],

       [[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]]])

In [130]:
a3 = x.ravel()
a3[0] = 98
a3

array([98,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12,  1,  2,  3,  4,  5,
        6,  7,  8,  9, 10, 11, 12])

In [131]:
x

array([[[98,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]],

       [[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]]])

## 17) 넘파이에서 파일 읽어오고 저장하기
* np.save, np.savez, np.savetxt, np.load, np.loadtxt
* 넘파이의 배열을 저장하는 파일 = .npy, .npz
* np.save =  .npy 파일로 저장 (1개의 ndarray)
* np.savez = .npz 파일로 저장 (2개 이상의 ndarray)
* np.savetxt = .csv 파일로 저장
* np.load = .npy, .npz 파일을 읽어올 때
* np.loadtxt = csv, txt 파일을 읽어올 때

In [133]:
a = np.array([1, 2, 3, 4, 5, 6])

* np.save('파일이름', a)

In [134]:
np.save('npsavefile', a)

In [135]:
b = np.load('npsavefile.npy')
b

array([1, 2, 3, 4, 5, 6])

In [136]:
csv_arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])

In [137]:
np.savetxt('npsavecsv.csv', csv_arr)

In [138]:
np.loadtxt('npsavecsv.csv')

array([1., 2., 3., 4., 5., 6., 7., 8.])